{{#each goals as |goal|}}
  <h1> <small>Title: {{goal.title}}
  </small></h1>
  <div>
    {{#if goal.description}}
      {{goal.description}}
    {{else}}
      No description for this goal.
    {{/if}}

  <div class='goal-display'></div>
    <div class='patch-goal-container'>
      <form class="patch-goal-form" data-id="{{goal.id}}">
        <input type="text" name="goal[title]" placeholder="Enter your goal!"><br>
        <input type="text" name="goal[description]" placeholder="Enter your description!"><br>
        <button type="submit" class="patch-goal" value="Click here to Patch this goal">
          Update Goal {{goal.id}}</button>
      </form>
    </div>

    <div class='delete-goal-container'>
      <form class="delete-goal-form">
        <button type="submit" class="delete-goal" data-id={{goal.id}} value="Click here to Delete this goal">
          Delete Goal {{goal.id}}</button>
      </form>
    </div>
{{/each}}
